@charset "utf-8";
/* CSS Document */

#header, #content, #footer {
	width:1000px;
	margin:0 auto;
}
#main-logo {
	float:left;
	width:334px;
	height:120px;
	text-align:center;
	background-color:#FFF;
}
#main-nav {
	float:left;
	width:666px;
	height:120px;
}
#top-menu {
	float:left;
	margin-left:426px;
	width:232px;
	display:inline;
}
#top-menu ul {
	margin:auto;
	width:232px;
	height:32px;
	list-style-type:none;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
}
#top-menu li {
	float:left;
	width:60px;
	line-height:32px;
	text-align:center;
	margin-right:-2px;
	margin-left:-2px;
	padding-left:11px;
}
#top-menu li a {
	color: #666;
}
#top-menu li a:hover {
	color: #F50;
}
.icon1 {
	background:url(../images/home.jpg) no-repeat;
	background-position: 3px center;
}
.icon2 {
	background:url(../images/sitemap.jpg) no-repeat;
	background-position: 3px center;
}
.icon3 {
	background:url(../images/contactus.jpg) no-repeat;
	background-position: 3px center;
}
#main-menu {
	float:left;
	margin-left:3px;
	width:660px;
	height:50px;
	background:url(../images/menu-bg.jpg);
	display:inline;
}
#main-menu ul {
	padding:10px 30px 10px 30px;
}
.m_li {
	float:left;
	width:75px;
	line-height:32px;
	text-align:center;
}
.m_li a {
	display:block;
	color: #057BD2;
	width:75px;
	font-weight:bold;
	font-size:14px;
	word-spacing:30px;
}
.m_li a:hover {
	color: #F60;
	text-decoration: underline;
}
.m_li_a {
	float:left;
	width:75px;
	line-height:32px;
	text-align:center;
	padding-top:3px;
	font-weight:bold;
	background-image:url(../images/menu_bg.jpg);
	position:relative;
	height:32px;
	margin-top:-3px;
	margin-right:-2px;
	margin-left:-2px;
}
.m_li_a a {
	display:block;
	color:#FF0000;
	width:75px;
}
#sub-menu {
	float:left;
	margin-left:38px;
	width:370px;
	display:inline;
}
#sub-menu ul {
	margin:0px auto 0px auto;
	padding:0px;
	list-style-type:none;
	height:23px;
}
.s_li_left {
	float:left;
	width:29px;
	height:23px;
	background:url(../images/submenu-left.jpg);
}
.s_li_right {
	float:left;
	width:29px;
	height:23px;
	background:url(../images/submenu-right.jpg);
}
.s_li {
	float:left;
	text-align:center;
	line-height:23px;
	width:auto;
	height:23px;
	background:url(../images/submenu-bg.jpg)
}
.s_li a {
	display:block;
	color:white;
	width:75px;
}
.s_li a:hover {
	color: red;
	text-decoration:none;
}
.s_li_a {
	line-height:32px;
	width:auto;
	display:block;
	height:32px;
}
#visual {
	width:1000px;
	height:308px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}


.col-main {
	float: left;
	width: 690px;
}

#content .col-sub {
	float: left;
	width: 300px;
	margin-left: 10px;
	display: inline;
}



.status {
	width: 300px;
	height: 50px;
	margin: 0 0 10px;
	overflow: hidden;
	zoom: 1;
}
.help-guest {
	overflow: hidden;
	zoom: 1;
}
.help-guest a {
	height: 50px;
	float: left;
	text-indent: -999em;
	overflow: hidden;
	background:url(../images/sprite.png);
	background-position: 0 -226px;
}
.help-guest a.hg-regist {
	width: 90px;
}
.help-guest a.hg-regist:hover {
	background-position: 0 -276px;
}
.help-guest a.hg-login {
	width: 90px;
	background-position: -90px -226px;
}
.help-guest a.hg-login:hover {
	margin-left: -2px;
	width: 92px;
	background-position: -88px -276px;
}
.help-guest a.hg-freeopen {
	width: 119px;
	background-position: -180px -226px;
}
.help-guest a.hg-freeopen:hover {
	margin-left: -2px;
	width: 121px;
	background-position: -178px -276px;
}
.help-member {
	padding: 4px 0 0 10px;
	width: 288px;
	height: 44px;
	border: 1px solid #DA4701;
	background-color: #FFF9ED;
}

.notice {
	width: 298px;
	height: 89px;
	border: 1px solid #D5D5D5;
	overflow: hidden;
}
.tab-hd {
	height: 29px;
	background-color: #EEE;
	margin-bottom: -1px;
	color: #404040;
}
.tab-hd ul {
	padding-top: 4px;
	margin-left: 7px;
}
.notice .tab-hd li {
	padding: 0 14px;
}
.tab-hd li.tab-cur {
	border: 1px solid #D5D5D5;
	border-bottom: none;
	background-color: white;
	font-weight: bold;
	position: relative;
	margin-left: -1px;
	margin-right: -1px;
}
.tab-hd li {
	float: left;
	height: 24px;
	line-height: 18px;
	border-top: 1px solid #EEE;
	padding: 0 7px;
	line-height : 20px 9;
	_line-height: 22px;
}
.notice .tab-pal {
	padding: 8px 0 0 5px;
}
.notice .tab-bd li {
	height: 22px;
	line-height: 22px;
	padding: 0 10px 0 5px;
	overflow: hidden;
	width: 125px;
	float: left;
}
.convenience {
	width: 298px;
	height: 175px;
	border: solid #D5D5D5;
	overflow: hidden;
	zoom: 1;
	border-width: 0 1px 1px;
}
.convenience .tab-hd {
	overflow: hidden;
	zoom: 1;
}
.tab-hd h4 {
	float: left;
	height: 28px;
	font-size: 14px;
	line-height: 28px;
	padding: 0 22px 0 10px;
	_line-height: 32px;
}
.convenience .tab-pal {
	padding: 0;
	height: 146px;
	overflow: hidden;
}
.convenience .tab-pal ul {
	margin-left:5px;
	padding-top:8px;
}
.convenience .tab-bd li {
	padding-left:5px;
	height: 22px;
	line-height: 22px;
	padding: 0 10px 0 22px;
	overflow: hidden;
	background-image: url(../images/avdo.gif);
	background-repeat: no-repeat;
	background-position: 0 8px; 
}
.new-actives {
	width: 298px;
	height: 202px;
	border: 1px solid #D5D5D5;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	zoom: 1;
}
.new-actives ul {
	height: 185px;
	overflow: hidden;
}
#cooperation{
	clear:left;margin:20px auto; width:1000px; padding:10px;
}
.hezuo {
	border: 1px solid #DDDDDD;
	float: left;
	height: auto;
	margin-bottom: 8px;
	width: 998px;
	display:inline;
}
.hezuo_left {
	float: left;
	height: 214px;
	margin-right: 0px;
	width: 40px;
	display:inline;
}
.hezuo_huoban {
	border-bottom: 1px solid #DDDDDD;
	height: 93px;
	width: 40px;
}
.hezuo_huoban p {
	color: #666666;
	font-weight: bold;
	line-height: 18px;
	padding: 10px 13px 0;
}
.hezuo_right {
	border-bottom: 1px dashed #DDDDDD;
	float: left;
	height: 73px;
	padding: 20px 0 0 20px;
	width: 930px;
	display:inline
}
.hezuo_huoban2 {
	height: 120px;
	width: 40px;
}
.hezuo_huoban2 p {
	color: #666666;
	font-weight: bold;
	line-height: 18px;
	padding: 4px 15px 0;
}
.youqing {
	float: left;
	padding: 5px 0 5px 0px;
	width: 935px;
}
.youqing_nr {
	float: left;
	margin-bottom: 13px;
	width: 920px;
	display:inline;
}
#footer {
	clear:left;
	margin:0px auto;
	width:1000px;
	padding:10px;
}
.footer-best {
	border-top:2px solid #005fac;
	height:50px;
}
.youqing_nr a {
	display:inline-block;
}
