@charset "utf-8";
/* CSS Document */

.article_list{
	width:690px;
	float:left;
}
.article_list .tips-bar-top {
	color: #6D6D6D;
	background-color: whiteSmoke;
	border: 1px solid #E4E4E4;
	height: 28px;
	line-height: 28px;
	width: 678px;
	padding: 0 0 0 10px;
	position: relative;
	margin-bottom: 20px;
}
.article_list .current-tips a {
	margin: 4px;
	color: #6D6D6D;
}
.article_list .main_list_box{
	color: #6D6D6D;
	background-color: white;
	border: 1px solid #E4E4E4;
	line-height: 28px;
	width: 678px;
	padding: 0 0 0 10px;
	position: relative;
}
.sub-title{
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #C0C9CD;
	font-weight: normal;
	font-size: 12px;
	margin: 10px 15px;
}
.sub-title strong {
	float: left;
	font-size: 14px;
	border-bottom: 3px solid #C0C9CD;
	line-height: 25px;
	padding: 0 3px;
}
.list3 {
	overflow: hidden;
	zoom: 1;
	padding: 8px;
	margin: 0 23px;
}
.list3 li {
	background: url(images/dot.gif) no-repeat 0 10px;
	padding: 0 0 0 10px;
	font-size: 14px;
	line-height: 24px;
}
.list3 i {
	float: right;
	color: #666;
	font-size: 12px;
}
.pub_time {
	padding-left:15px;
	color: #9C9C9C;
}